body{font-family: roboto;margin: 0px; padding: 0px;scroll-behavior: smooth;}

html {line-height: 0px;scroll-behavior: smooth;;}

.tabs .indicator {
    background-color: black;
}

.tabs .tab a.active {
    background-color: transparent;
    color: black;
    font-weight: bold;;
}

button:focus {background-color: transparent !important;}

.tabs .tab a:hover{background-color: white !important;;}

.tabs .tab a {
    color: #000;
}



.logo-container > div {margin: auto; width: 338px;;}

.logo-container {position: fixed; left:0px; top: 0px;z-index: 502;width: 100%;}

.tabs {margin-top: 0px;border-bottom: solid 1px lightgray;}

.tabs li a button {}

body.darkclass .tabs .indicator {
    background-color: white;
}

.carousel .carousel-item{
    width:100%;
    visibility: visible !important;
  height: 100vh;
  }

  nav {box-shadow: none;background-color: white;}

  .spacer {width: 100%; height: 50px;;}

  /*-------------------------------------Play Back Container------------------------------------------*/

  .playback-container > iframe {width: 100%; border: none;height: 220px;left: 0px; z-index: 501;position: fixed; z-index: 501;top: 50px;;}

  .playback-container {padding: 0px;}

  .videojs-player {width: 100%; height: 100vh;border: none;;}

  .open-video-container {}

  .open-video-container > div {width: 100%;}

  .open-video-container > video {width: 100%;height: 220px;;}

  video {width: 100% !important;}

  .video-js .vjs-control-bar {bottom: -20px !important;}

  .video-js .vjs-tech {height:auto !important;}

  .playback-loader {position: fixed; top: 0px; z-index: 500;;width: 100%;}

  .stream-list > button {background-color: white; border: solid 1px lightgray; padding: 5px;padding-left: 7px; padding-right: 7px;margin-left: 6px; border-radius: 20px;margin-top: 10px;float: left;;}

  .stream-list {margin-top: -40px;margin-left: 125px ;position: absolute; z-index: 625;top: 360px; left: 0px;;;}
  /*-------------------------------------Tabs--------------------------------------------------*/


  /*---------------------------------------Channels-------------------------------------------*/
  .channel-logo {float: left;width: 51px;height: 59.88px;position:static;margin-left: 10px;}

.text-container {float: left;margin-top: -5px;margin-left: 15px;;}

.text-container > h5 {font-weight: bold;font-size: 19px;text-align: left;}

.text-container > p {margin-top: -8px;margin-left: 2px;;text-align: left;font-size: 12px;;}

.channel-button {width: 100%;border: none; background-color: transparent;}

.channel {float: left;}

.preview-item{display: none;}

.plus{padding:15px 15px 15px 15px; border: solid 1px lightgray;width: 100px; height: 100px;border-radius: 10px;;margin-top:10px;;position:relative;z-index: 5;}

.playing-indicator {position: absolute; right: 20px;;border: solid 1px lightgray;padding: 5px 10px 5px 10px;border-radius: 50px;margin-top: 33px;;display: none;;}

.plus-text {margin-top: 20px;;}


.col {margin-top: 240px;;}


.sticky-container {position: sticky ;top: 0px;left: 0px; z-index: 499;background-color: white; ;}

#up {padding-top: 250px;margin-top: -285px;}

#up.scrolled {padding-top: 0px !important;}

#notice {position: fixed; bottom: 180px; right: 19px; z-index: 602;background-color: white;font-weight: normal; color: black;font-size: 13px;font-weight: bold;display: none;;}

#notice.open {display: block;}

.loader {position: fixed; left: 0px; bottom: -15px; width: 100%;;;}
